<div class="container-md outer">
  <div class="container-md shadow inner">
    <mat-dialog-content>
      <button *ngIf="prevActive" class="carousel-control-prev" type="button" (click)="previous()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Előző</span>
      </button>
      <div class="img-box">
        <img src="{{images[activeImage]}}" alt="">
      </div>
      <button *ngIf="nextActive" class="carousel-control-next" type="button" (click)="next()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Következő</span>
      </button>
    </mat-dialog-content>
  </div>
</div>
