* {
  max-height: none;
}

.outer{
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: whitesmoke;
}

.inner{
  border-radius: 1.5rem;
  border: 3px solid #800020;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: inherit;
  background-color: whitesmoke;
}

:host {
  position:fixed;
  width: auto;
  height: auto;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 1080px) {

  }
