<div class="body">
    <div class="container-sm outer">
      <div class="container-sm shadow inner">

        <p class="title">Add meg az új jelszavad</p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-column justify-content-center">
                <div class="col">
                    <div class="mb-3">
                    <label for="name" class="form-label">Új jelszó:</label>
                      <input type="password" class="form-control form-control-sm" placeholder="Jelszó" formControlName="newPassword"
                        [ngClass]="{'is-invalid': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched} || resetPasswordForm.get('newPassword')?.errors?.['serverError']">
          
          
                      <small
                        *ngIf="resetPasswordForm.get('newPassword')?.invalid 
                        && resetPasswordForm.get('newPassword')?.touched 
                        && !resetPasswordForm.get('newPassword')?.errors?.['pattern'] 
                        && !resetPasswordForm.get('newPassword')?.errors?.['serverError']"
                        class="text-danger">
                        Adja meg a kívánt jelszót
                      </small>
          
                      <small *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.dirty
                                          && !resetPasswordForm.get('newPassword')?.errors?.['serverError']
                                          && resetPasswordForm.get('newPassword')?.errors?.['pattern']" class="text-danger">
                        Legalább 6, legfeljebb 250 karakter hosszúnak kell lennie és tartalmazzon egy számot
                      </small>
          
                      <!-- ServerError BE-ről -->
                      <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['serverError']" class="text-danger">
                        {{resetPasswordForm.get('newPassword')?.getError('serverError')}}
                      </small>
                    </div>
                  </div>
          
                  <div class="col">
                    <div class="mb-3">
                    <label for="name" class="form-label">Erősítsd meg a jelszót:</label>  
                      <input type="password" class="form-control form-control-sm" placeholder="Jelszó megint" formControlName="confirmNewPassword"
                        [ngClass]="{'is-invalid': resetPasswordForm.get('confirmNewPassword')?.invalid && resetPasswordForm.get('confirmNewPassword')?.touched} || resetPasswordForm.get('confirmNewPassword')?.errors?.['serverError']">
          
          
                      <small
                        *ngIf="resetPasswordForm.get('confirmNewPassword')?.invalid 
                        && resetPasswordForm.get('confirmNewPassword')?.touched 
                        && !resetPasswordForm.get('confirmNewPassword')?.errors?.['pattern'] 
                        && !resetPasswordForm.get('confirmNewPassword')?.errors?.['serverError']"
                        class="text-danger">
                        Ismételje meg a kívánt jelszót
                      </small>
          
                      <small *ngIf="resetPasswordForm.get('confirmNewPassword')?.invalid && resetPasswordForm.get('confirmNewPassword')?.dirty
                                          && !resetPasswordForm.get('confirmNewPassword')?.errors?.['serverError']
                                          && resetPasswordForm.get('confirmNewPassword')?.errors?.['pattern']" class="text-danger">
                        Legalább 6, legfeljebb 250 karakter hosszúnak kell lennie és tartalmazzon egy számot
                      </small>
          
                      <!-- ServerError BE-ről -->
                      <small *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['serverError']" class="text-danger">
                        {{resetPasswordForm.get('confirmNewPassword')?.getError('serverError')}}
                      </small>
                    </div>
                  </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-lg" [disabled]="resetPasswordForm.invalid">
                  Küldés
                </button>
        
              </div>
        </form>

        

      </div>
    </div>
    </div>
