<div class="body">
<div class="allItems">
  <div *ngIf="roomDetails" class="container-sm outer">
    <div class="container-sm shadow inner">

      <p class="title">{{roomDetails.name}}</p>

      <div class="details-body">

        <div class="left-side">
          <p class="details">Ágyak száma: <span class="details-content">{{roomDetails.numberOfBeds}}</span></p>
          <p class="details">Méret: <span class="details-content">{{roomDetails.size}}</span></p>
          <p class="details">Felszereltség: <span class="details-content">{{equipments}}</span></p>
          <p class="details">Ár: <span class="details-content">{{roomDetails.price}}</span></p>
          <p class="details">Leírás: <span class="details-content">{{roomDetails.longDescription}}</span></p>
        </div>

        <div class="right-side">
          <div class="image-container">
            <img src="{{firstImage}}" alt="" (click)="openImages()">
          </div>
          <div class="btn-container">
            <button class="btn" (click)="reserve()">Foglalás</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
