.main {
  padding: 3rem;
  background-image: url("https://res.cloudinary.com/dz2vabw2w/image/upload/v1690879617/Logos/background_j8kb3g_hgktpw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin-top: 60px;
}
