<div class="container-sm outer">
    <div class="container-sm shadow inner">

      <div class="modal-header">
        <h3 class="text-center title">Program módosítása</h3>
        <button class="btn-close" type="button" (click)="closeEvent()"></button>
      </div>

      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="title" class="form-label">Az esemény címe:</label>
        <input type="text" class="form-control" id="title" formControlName="title"
        [ngClass]="{'is-invalid': eventForm.get('title')?.invalid && eventForm.get('title')?.touched} || eventForm.get('title')?.errors?.['serverError']">

        <small
        *ngIf="eventForm.get('title')?.invalid && eventForm.get('title')?.touched && !eventForm.get('title')?.errors?.['serverError']"
        class="text-danger">
        Adja meg az esemény címét legfeljebb 50 karakterben
      </small>

      <small *ngIf="eventForm.get('title')?.invalid && eventForm.get('title')?.touched
                                && !eventForm.get('title')?.errors?.['serverError']
                                && eventForm.get('title')?.errors?.['maxLength']" class="text-danger">
              Legfeljebb 50 karakter hosszúnak kell lennie
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="eventForm.get('title')?.errors?.['serverError']" class="text-danger">
              {{eventForm.get('title')?.getError('serverError')}}
            </small>
        </div>

        <div class="mb-3">
          <label for="text" class="form-label">Az esemény szövege</label>
        <textarea type="text" class="form-control" id="text" formControlName="text"
        [ngClass]="{'is-invalid': eventForm.get('text')?.invalid && eventForm.get('text')?.touched} || eventForm.get('text')?.errors?.['serverError']"></textarea>

        <small
        *ngIf="eventForm.get('text')?.invalid && eventForm.get('text')?.touched && !eventForm.get('text')?.errors?.['serverError']"
        class="text-danger">
        Adja meg a program leírását 150 és 1000 karakter között.
      </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="eventForm.get('text')?.errors?.['serverError']" class="text-danger">
              {{eventForm.get('text')?.getError('serverError')}}
            </small>
        </div>

        <div class="mb-3">
          <label for="schedule" class="form-label">Az esemény időzítése:</label>
        <input type="text" class="form-control" id="schedule" formControlName="schedule"
        [ngClass]="{'is-invalid': eventForm.get('title')?.invalid && eventForm.get('title')?.touched} || eventForm.get('title')?.errors?.['serverError']">

        <small
        *ngIf="eventForm.get('schedule')?.invalid && eventForm.get('schedule')?.touched && !eventForm.get('schedule')?.errors?.['serverError']"
        class="text-danger">
        Adja meg az esemény időpontját legfeljebb 50 karakterben
      </small>

            <small *ngIf="eventForm.get('schedule')?.invalid && eventForm.get('schedule')?.touched
                                && !eventForm.get('schedule')?.errors?.['serverError']
                                && eventForm.get('schedule')?.errors?.['maxLength']" class="text-danger">
              Legfeljebb 50 karakter hosszúnak kell lennie
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="eventForm.get('schedule')?.errors?.['serverError']" class="text-danger">
              {{eventForm.get('schedule')?.getError('serverError')}}
            </small>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Az esemény képe:</label>
          <input type="file" class="form-control" id="image"  (change)="onImageUpload($event)" formControlName="image">
          <small *ngIf="eventForm.get('image')?.errors?.['serverError']" class="text-danger">
            {{eventForm.get('image')?.getError('serverError')}}
          </small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-secondary" [disabled]="!eventForm.valid">Elküld</button>
        </div>

      </form>

    </div>
  </div>

