
.outer{
  border-radius: 2rem;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: whitesmoke;
}

.inner{
  border-radius: 1.5rem;
  border: 3px solid #800020;
  height: 100%;
  position: inherit;
  background-color: whitesmoke;
}

.title {
  font-family: 'Caveat';
  font-size: 3rem;
  color: #800020;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 1rem;
}

.form-control {
  border:#800020 solid 2px;
  color: #800020;
}

.form-label {
  color: #800020;
  font-family: 'Roboto';
}

.mockanchor {
  color: blue;
  text-decoration: underline;
}

.mockanchor:hover {
  cursor: pointer;
}

.btn {
  background-color: #800020;
  border-radius: 2rem;
  color: whitesmoke;
  font-family: 'Caveat';
  font-size: 1.5rem;
  width: 100px;
  margin-bottom: 0.5rem;
}

:host {
  position:fixed;
}

.cardStyle {
  margin: 1em auto;
  text-align: center;
  border:#800020 solid 2px;
  border-radius: 2rem;
  width: min-content;
}
