.outer{
  border-radius: 2rem;
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  background-color: whitesmoke;
}

.inner{
  border-radius: 1.5rem;
  border: 3px solid #800020;
  /* height: 100%; */
  position: inherit;
  background-image: url("https://res.cloudinary.com/ddaprhl4e/image/upload/v1683705386/Hotel/Logos/logoburgund_uqh1w1.png");
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position:left bottom;
  background-color: whitesmoke;
}

img {
  position: inherit;
  height: 145px;
  width: 100%
}

.mainarea {
  width: 70%;
}

.aside {
  width: 25%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

.allitem {
  display: flex;
  flex-direction: row;
  background-image: url("https://res.cloudinary.com/ddaprhl4e/image/upload/v1683705423/Hotel/Logos/background_j8kb3g.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}

.title {
  font-family: caveat;
  font-size: 4rem;
  color: #800020;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  float: right;
}

.btn {
  background-color: #800020;
  border-radius: 3rem;
  color: whitesmoke;
  font-family: 'Caveat';
  font-size: 2.5rem;
  width: 200px;
  margin: 1rem;
}

.details-body {
  display: flex;
  flex-direction:row;
}

.details {
  font-family: caveat;
  font-size: 2.5rem;
  color: #800020;
  margin-left: 1rem;
}

.details-content {
  font-family: lato;
  font-size: 1.5rem;
  color: #800020;
}

.left-side {
  width: 75%;
}

.right-side {
  border: #800020 2px solid;
  height: 165px;
  padding: 0.5rem;
  width:25%;
  margin: 0.5rem;
}
