<div class="container-fluid allitem">
  <div class="row">
    <div class="col-12 col-lg-3 search">

      <div class="container-sm bg-light aside">
        <div class="container-sm shadow bg-light side-inner">

          <p class="title-roomSelector">Szabad szobák</p>


      <form [formGroup]="roomSelector" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="guestNumber" class="form-label"
         >Vendégek száma:</label>
          <input type="number" class="form-control" id="guestNumber" formControlName="guestNumber">
          <small *ngIf="guestNumber?.invalid && guestNumber?.touched" class="text-danger">
            <span *ngIf="guestNumber?.errors?.['required']">Add meg a vendégek számát!</span>
          </small>
        </div>

        <div class="mb-3">
          <label for="dogNumber" class="form-label"
          >Kutyusok száma:</label>
          <input type="number" class="form-control" id="dogNumber" formControlName="dogNumber">
          <small *ngIf="dogNumber?.invalid && dogNumber?.touched" class="text-danger">
            <span *ngIf="dogNumber?.errors?.['required']">Add meg a kutyusok számát!</span>
          </small>
        </div>

            <div class="mb-3" *ngIf="equipmentsControllers">
              <p>Felszerelések:</p>
              <div formArrayName="nonStandardEquipments"
                *ngFor="let nonStandardEquipment of equipmentFormArray.controls; let i = index">
                <label for="nonStandardEquipments">
                  <input id="nonStandardEquipments" type="checkbox" [formControlName]="i" [value]="i">
                  {{nonStandardEquipments[i].name}}</label>
              </div>
            </div>

        <div class="mb-3">
          <label for="bookingFrom" class="form-label"
         >Érkezés:</label>
          <input type="date" class="form-control" id="bookingFrom" formControlName="bookingFrom">
          <small *ngIf="bookingFrom?.invalid && bookingFrom?.touched" class="text-danger">
            <span *ngIf="bookingFrom?.errors?.['required']">Add meg az érkezés dátumát!</span>
          </small>
          <small *ngIf="roomSelector.get('bookingFrom')?.errors?.['serverError']" class="text-danger">
            {{roomSelector.get('bookingFrom')?.getError('serverError')}}
          </small>
        </div>

        <div class="mb-3">
          <label for="bookingTo" class="form-label"
         >Távozás:</label>
          <input type="date" class="form-control" id="bookingTo" formControlName="bookingTo">
          <small *ngIf="bookingTo?.invalid && bookingTo?.touched" class="text-danger">
            <span *ngIf="bookingTo?.errors?.['required']">Add meg a távozás dátumát!</span>
          </small>
          <small *ngIf="roomSelector.get('bookingFrom')?.errors?.['serverError']" class="text-danger">
            {{roomSelector.get('bookingFrom')?.getError('serverError')}}
          </small>
        </div>

        <div class="text-center">
          <button [disabled]="roomSelector.invalid" type="submit" class="btn" >Enter</button>
        </div>
      </form>

        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 align-text-center">

        <div class="container-sm bg-light outer" *ngFor="let room of allRooms">
          <div class="container-sm shadow bg-light inner">

            <p class="title">{{room.name}}</p>

            <div class="details-body">
              <div class="left-side">
                <p class="details"><span> Méret: <span
                      class="details-content">{{room.size}}</span></span><span style="margin-left: 2rem"> Ár: <span
                      class="details-content">{{room.price}} Ft/nap</span></span></p>


                <p class="details last-elem">Leírás: <span class="details-content">{{room.description}}</span></p>
              </div>

              <div class="right-side">
                <img src="{{room.imageURLs[0]}}" alt="kep">
              </div>

            </div>

            <div class="btn-container">
              <button class="btn" (click)="goToDetails(room.id)">Részletek</button>
            </div>
          </div>
        </div>
    </div>


    </div>
</div>
