<div class="sticky-md-top">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between hotel-navbar">
    <div class="col-md-3 mb-2 mb-md-0">
      <a class="navbar-brand" routerLink="">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683705384/Hotel/Logos/hotellogowhitesmoke_axe0rw.png" alt="logo" height="5px">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2" routerLink="room-list">Szobák</a></li>
      <li><a class="nav-link px-2" routerLink="error">Programok</a></li>
      <li><a class="nav-link px-2" routerLink="error">Blog</a></li>
      <li><a class="nav-link px-2" routerLink="error">Rólunk</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <div *ngIf="!user">
        <button type="button" class="btn btn-secondary me-2 px-4" (click)="loginPopup()" >Bejelentkezés</button>
        <button type="button" class="btn btn-secondary me-2 px-4" (click)="registerPopup()">Regisztráció</button>
      </div>
      <div *ngIf="user">
        <button type="button" class="btn btn-secondary me-2" (click)="logout()">Kijelentkezés</button>
      </div>
    </div>
  </header>
</div>

