<nav class="navbar sticky-top navbar-expand-sm hotel-navbar">
  <div class="container-fluid logo-navbar">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/images/hotellogowhitesmoke.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="room-list">RoomList</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="loginPopup()">Login</a></li>
            <li><a class="dropdown-item" (click)="registerPopup()">Register</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registration">Regisztráció</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

