* {
  margin: 0;
  z-index: 999;
}

.hotel-navbar {
  background-color: #800020;
  font-family: 'Caveat';
  font-size: 2.2rem;
  padding: 0;
}

img {
  height: 3.5rem;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.nav-link {
  color: whitesmoke;
}

.dropdown-menu {
  background-color: whitesmoke;
  border:#800020 2px solid;
  border-radius: 1rem;
}

.dropdown-item{
  color:#800020;
  font-size: 1.5rem;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 1080px) {
    .navbar-container {
      position: static;
      top: 0;
      width: 100%;
    }
  }

