<div class="body">
    <div class="allItems">
      <div  class="container-sm outer">
        <div class="container-sm shadow inner">
    
          <p class="title">Agility</p>
    
          <div class="details-body">
    
            <div class="left-side">
                <div class="left-side-text">
                    <p class="details">Az agility sport egy dinamikus és izgalmas tevékenység, amelyben kutyák versenyeznek egy 
                akadálypályán. A pálya során a kutyáknak át kell ugraniuk akadályokon, át kell szaladniuk alagutakon és 
                meg kell különböztetniük a helyes útvonalat a többi lehetőség közül. Ez egy kiváló módja annak, hogy a 
                kutyák fizikailag és szellemileg kihívást jelentő tevékenységben vegyenek részt. Az agility sport segít 
                a kutya és a gazdája közötti szorosabb kötelék kialakításában, valamint fejleszti a kutyák rugalmasságát, 
                gyorsaságát és koncentrációját. A kutya agility sportja tehát mind a kutyák, mind a gazdáik számára 
                szórakoztató és kihívást jelentő tevékenység.  </p>

                <p class="details timetable">Órarend: Hétfő, Csütörtök 10:00 - 12:00</p>
                </div>
            </div>
            <div class="right-side">
              <div class="image-container">
                <img src="https://www.pedigreedatabase.com/uploads/Oli/images/Agility--Slalom.jpg?ezimgfmt=rs:498x331/rscb2/ng:webp/ngcb2" alt="" >
              </div>
              <div class="btn-container">
                <button class="btn" >Jelentkezem</button>
              </div>
               
            </div>


          </div>
    
        </div>
      </div>

      <div  class="container-sm outer">
        <div class="container-sm shadow inner">
    
          <p class="title">Dog Frisbee</p>
    
          <div class="details-body">
    
            <div class="left-side">
             
              <p class="details">A kutya frisbee sport egy lenyűgöző és szórakoztató tevékenység, amelyben a kutyák és 
                gazdáik együtt dolgoznak, hogy frizbit hajítsanak és elkapjanak. A frizbi repülésekor a kutyának gyorsan 
                kell futnia és ügyesen ugrania, hogy elkapja a levegőben. Ez a sport kiválóan fejleszti a kutyák ügyességét, 
                koordinációját és rugalmasságát. A gazdik és a kutyák közötti csapatmunka alapvető fontosságú a sikeres 
                teljesítményhez. A kutya frisbee sport nem csak egy kihívást jelentő sport, hanem szórakoztató és érdekes 
                módja annak, hogy közelebb kerüljünk a kutyánkhoz és építsük a köztünk lévő köteléket. Emellett lehetőséget 
                ad arra, hogy a kutyák kifejtsék energiájukat és élvezettel töltsék el az időt gazdáikkal.</p>
                <p class="details timetable">Órarend: Kedd, Péntek 13:00 - 15:00</p>
               
            </div>
    
            <div class="right-side">
              <div class="image-container">
                <img src="https://images.bauerhosting.com/legacy/media/6112/4f55/6179/2323/e340/5f86/best-dog-frisbee.png?q=80&auto=format&w=1800&ar=16:9&fit=crop&crop=top" alt="" >
              </div>
              <div class="btn-container">
                <button class="btn" >Jelentkezem</button>
              </div>
            
                
            </div>

          </div>
    
        </div>
      </div>




    </div>
    </div>
    
  
