
.body {
    margin: 0;
    padding: 5rem;
    background-image: url("https://res.cloudinary.com/dz2vabw2w/image/upload/v1690879617/Logos/background_j8kb3g_hgktpw.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin-top: 60px;
  }

  .outer {
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: whitesmoke;
  }
  
  .inner {
    border-radius: 1.5rem;
    border: 3px solid #800020;
    height: 100%;
    position: inherit;
    background-color: whitesmoke;
    text-align: center;
  }

  .title {
    font-family: caveat;
    font-size: 4rem;
    color: #800020;
    margin: 0;
    padding: 0;
  }

  .details-content {
    font-family: Roboto;
    font-size: 1.4rem;
    color: #800020;
    margin: 2rem;
  }

  img {
    padding-bottom: 5rem;
  }
  
 @media screen and (max-width: 768px) {
    .body {
      padding: 0rem;
      margin: 0;
    }
  
    .inner {
      border-radius: 1.2rem;
    }
  
    .title {
      font-size: 3rem;
    }
  
    .details {
      font-size: 1.8rem;
    }
  
    .details-content {
      font-size: 1.2rem;
    }
  
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .body {
      padding: 5rem;
    }
  
    .inner {
      border-radius: 0.8rem;
      border-width: 2px;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .details {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  
    .details-content {
      font-size: 1rem;
      margin: 1rem;
    }
  }
  