


<div class="body">
  <div class="allItems">
    <div class="container-sm outer">
      <div class="container-sm shadow inner">
  
        <p class="title">Szobák kihasználtsága</p>
     
        <div class="details-body">
         
          
          <div class="left-side">
            <app-stat-month-bar></app-stat-month-bar>
          </div>
  
          <div class="right-side">
            <app-stat-year-rooms></app-stat-year-rooms>
             
            </div>
          </div>
  
        </div>
  

        
      </div>
    </div>
  </div>