<div class="body">
    <div class="container-sm outer">
      <div class="container-sm shadow inner">

        <p class="title">Köszönjük a regisztrációt</p>

        <img src="https://media.giphy.com/media/ICDyZsoSCr2tSDgKIz/giphy.gif" alt="patient dog">

        <p class="details-content text-center">
          A regisztráció megerősítéséhez szükséges linket elküldtük a megadott email-címre!
          <br>
          A link 15 percig lesz érvényes.
        </p>

      </div>
    </div>
    </div>
