<div class="container-sm outer">
  <div class="container-sm shadow inner">
    <div class="header">
      <h3 class="text-left title">Felszereltség</h3>
      <button type="button" class="btn-header">Törlés</button>
      <button type="button" class="btn-header">Létrehozás</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="details" scope="col">Név</th>
          <th class="details" scope="col">Felszereltség</th>
          <th class="details" scope="col">Műveletek</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr *ngFor="let room of rooms">
          <td class="details-content">{{room.name}}</td>
          <td class="details-content">{{room.equipmentNames}}</td>
          <td>
            <div class="btn-container">
              <button type="button" class="btn">Hozzáadás</button>
              <button type="button" class="btn">Törlés</button>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
