<div class="container-sm mt-3 outer">
  <div class="container-sm shadow inner">

    <div class="modal-header">
      <h3 class="text-center title">Regisztráció</h3>
      <button class="btn-close btn-close" type="button" (click)="closeRegistration()"></button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row gx-2">

        <div class="col-md-6">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="Vezetéknév" formControlName="lastName"
              [ngClass]="{'is-invalid': registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched} || registerForm.get('lastName')?.errors?.['serverError']">

            <small
              *ngIf="registerForm.get('lastName')?.invalid
              && registerForm.get('lastName')?.touched
              && !registerForm.get('lastName')?.errors?.['pattern']
              && !registerForm.get('lastName')?.errors?.['serverError']"
              class="text-danger">
              Adja meg a vezetéknevét
            </small>

            <small *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.dirty
                                && !registerForm.get('lastName')?.errors?.['serverError']
                                && registerForm.get('lastName')?.errors?.['pattern']" class="text-danger">
              2 és 50 betűből álló tulajdonnév
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="registerForm.get('lastName')?.errors?.['serverError']" class="text-danger">
              {{registerForm.get('lastName')?.getError('serverError')}}
            </small>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="Keresztnév" formControlName="firstName"
              [ngClass]="{'is-invalid': registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched} || registerForm.get('firstName')?.errors?.['serverError']">

            <small
              *ngIf="registerForm.get('firstName')?.invalid 
              && registerForm.get('firstName')?.touched
              && !registerForm.get('firstName')?.errors?.['pattern']
              && !registerForm.get('firstName')?.errors?.['serverError']"
              class="text-danger">
              Adja meg a keresznevét
            </small>

            <small *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.dirty
                                && !registerForm.get('firstName')?.errors?.['serverError']
                                && registerForm.get('firstName')?.errors?.['pattern']" class="text-danger">
              2 és 50 betűből álló tulajdonnév
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="registerForm.get('firstName')?.errors?.['serverError']" class="text-danger">
              {{registerForm.get('firstName')?.getError('serverError')}}
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="Felhasználónév"
              formControlName="userName"
              [ngClass]="{'is-invalid': registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched} || registerForm.get('userName')?.errors?.['serverError']">

            <small *ngIf="registerForm.get('userName')?.dirty
                                && !registerForm.get('userName')?.errors?.['serverError']
                                && registerForm.get('userName')?.errors?.['pattern']" class="text-danger">
              2 és 30 ékezet nélküli betűből és számból állhat
            </small>

            <small
              *ngIf="registerForm.get('userName')?.invalid 
              && registerForm.get('userName')?.touched 
              && !registerForm.get('userName')?.errors?.['pattern'] 
              && !registerForm.get('userName')?.errors?.['serverError']"
              class="text-danger">
              Adja meg a felhasználónevét
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="registerForm.get('userName')?.errors?.['serverError']" class="text-danger">
              {{registerForm.get('userName')?.getError('serverError')}}
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="Email" formControlName="email"
              [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched} || registerForm.get('email')?.errors?.['serverError']">

            <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty
                                && !registerForm.get('email')?.errors?.['serverError']
                                && registerForm.get('email')?.errors?.['pattern']" class="text-danger">
              Valós email-címet adjon meg
            </small>

            <small
              *ngIf="registerForm.get('email')?.invalid 
              && registerForm.get('email')?.touched 
              && !registerForm.get('email')?.errors?.['pattern']
              && !registerForm.get('email')?.errors?.['serverError']"
              class="text-danger">
              Adja meg az email-címét
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="registerForm.get('email')?.errors?.['serverError']" class="text-danger">
              {{registerForm.get('email')?.getError('serverError')}}
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="mb-2">
            <input type="password" class="form-control form-control-sm" placeholder="Jelszó" formControlName="password"
              [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched} || registerForm.get('password')?.errors?.['serverError']">


            <small
              *ngIf="registerForm.get('password')?.invalid 
              && registerForm.get('password')?.touched 
              && !registerForm.get('password')?.errors?.['pattern'] 
              && !registerForm.get('password')?.errors?.['serverError']"
              class="text-danger">
              Adja meg a kívánt jelszót
            </small>

            <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty
                                && !registerForm.get('password')?.errors?.['serverError']
                                && registerForm.get('password')?.errors?.['pattern']" class="text-danger">
              Legalább 6 karakter hosszúnak kell lennie és tartalmazzon egy számot
            </small>

            <!-- ServerError BE-ről -->
            <small *ngIf="registerForm.get('password')?.errors?.['serverError']" class="text-danger">
              {{registerForm.get('password')?.getError('serverError')}}
            </small>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-secondary btn-lg" [disabled]="registerForm.invalid">
        Regisztrálok
      </button>
    </form>


  </div>
</div>
