.title {
    font-family: 'Caveat';
    font-size: 3rem;
    color: #800020;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .outer{
    border-radius: 2rem;
    /* height: 320px; */
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: whitesmoke;
  }
  
  .inner{
    border-radius: 1.5rem;
    border: 3px solid #800020;
    height: 100%;
    position: inherit;
    background-color: whitesmoke;
  }

  .form-control {
    border:#800020 solid 2px;
    color: #800020;
  }
  
  .form-label {
    color: #800020;
    font-family: 'Lato';
  }
  
  .btn {
    background-color: #800020;
    border-radius: 2rem;
    color: whitesmoke;
    font-family: 'Caveat';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  :host {
    position:fixed;
  }
  