<div class="body">
    <div class="allItems">
      <div class="container-sm outer">
        <div class="container-sm shadow inner">
    
          <p class="title">DogHotel a Dunakanyarban</p>
    
          <div class="details-body">
    
            <div class="left-side">
                <p class="intro-text" >A hotelünk kifejezetten azoknak a személyeknek szól, akik szeretnének együtt nyaralni kutyájukkal. A szálloda kényelmes és tágas szobákkal rendelkezik, amelyekben kényelmesen elférnek a kis és nagyobb méretű kutyák is. A szobákhoz tartozik egy saját terasz is, ahol kedvenceink élvezhetik a friss levegőt.

                    A Kutyabarát Hotelben számos programot szervezünk kutyás családoknak. A hotel területén található egy nagy park, ahol kedvenceink szabadon futkározhatnak és játszhatnak. Emellett rendszeresen tartunk kutyás túrákat is a környéken.
          
                    A hotel éttermében pedig olyan ételeket találhatnak, amelyeket kedvenceink is fogyaszthatnak. Emellett lehetőség van arra is, hogy saját ételeket hozzanak magukkal.
          
                    Reméljük, hogy sikerült felkeltenünk az érdeklődését és hamarosan vendégül láthatjuk Önt és kedvencét is!</p>
              
            </div>
    
            <div class="right-side">
              <div class="image-container">
                <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1685546836/hotelkep_cuc9cp.webp" alt="hotel" >
              </div>
              <div class="btn-container intro-text">
                <p>Kossuth utca 142. <br>  Zebegény, Dunakanyar  <br>Magyarország <br> 2627 <br> kontakt@doghotel.hu</p>
                    
              </div>
            </div>
    
          </div>
    
        </div>
      </div>
    </div>
    </div>
    
