<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733050/Hotel/Carousel%20index/carousel-dog-index_ng9idt.jpg" class="d-block w-100 tales" alt="Kutyák">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Kutyák</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733151/Hotel/Carousel%20index/carousel-adventure-index_jlsdot.jpg" class="d-block w-100 tales" alt="Kikapcsolódás">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Kikapcsolódás</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733151/Hotel/Carousel%20index/carousel-family-index_viglt4.jpg" class="d-block w-100 tales" alt="Család">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Család</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
</header>

<section class="post-loop py-3 mb-3">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="content-holder">
                  <img src="https://images.unsplash.com/photo-1683237340069-7b8b21c87fa2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2457&q=80" alt="" class="rounded img-fluid mb-3">
                  <div class="post-content mb-3">
                      <h1>Heading One</h1>
                      <h2>Heading Two</h2>
                      <h3>Heading Three</h3>
                      <h4>Heading Four</h4>
                      <h5>Heading Five</h5>
                      <h6>Heading Six</h6>

                      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                      <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos corrupti aut quia culpa qui ea voluptas? Autem ex provident harum quis sed quia sequi nulla, labore, itaque tempora, mollitia aspernatur?</span><span>Eius quasi ratione mollitia, labore doloremque maxime quod dignissimos nostrum eum. Pariatur ullam sed ad consequatur aliquam harum consectetur nulla inventore distinctio sint nobis sunt fuga aperiam blanditiis, molestiae sit!</span></p>
                      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla, error aliquam officia ab saepe possimus labore dicta vitae odio modi cupiditate et nostrum repellendus qui libero vel, tempore pariatur.</span><span>Inventore a quas cupiditate deleniti placeat quae, ipsa quia, dolor velit, doloribus corrupti eveniet ex vero accusantium sed minus. Excepturi quis ducimus dolorum debitis magnam totam laudantium molestias cum quo!</span></p>
                      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ut ipsam fugiat, ab reprehenderit omnis libero fuga ex possimus sapiente cum voluptates nemo nam aliquid modi laboriosam consequuntur quod. Sunt.</span><span>Quibusdam ex repudiandae nihil, nobis, repellendus ut assumenda asperiores fugit veniam veritatis nostrum. Asperiores harum doloribus at quisquam nesciunt eligendi iusto enim magni? Eveniet labore, culpa mollitia unde sint doloremque.</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

