<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733050/Hotel/Carousel%20index/carousel-dog-index_ng9idt.jpg" class="d-block w-100 tales" alt="Kutyák">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Kutyák</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733151/Hotel/Carousel%20index/carousel-adventure-index_jlsdot.jpg" class="d-block w-100 tales" alt="Kikapcsolódás">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Kikapcsolódás</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/ddaprhl4e/image/upload/v1683733151/Hotel/Carousel%20index/carousel-family-index_viglt4.jpg" class="d-block w-100 tales" alt="Család">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h5>Család</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti tempora incidunt iusto cumque molestias autem minus consectetur et, maxime, aperiam deleniti? Iusto nemo voluptatum temporibus, ratione reprehenderit quis natus deleniti!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
</header>
