<header class="main">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dz2vabw2w/image/upload/v1690879562/Carousel/carousel-dog-index_ng9idt_pddnpk.jpg" class="d-block w-100 tales" alt="Kutyák">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h4>Kutyák</h4>
          <p>A kutya története valójában az emberrel közös együttműködés története is. Az egymásrautaltság az, ami a kutya-ember kapcsolat kezdetének a legfontosabb alapköve volt.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dz2vabw2w/image/upload/v1690879557/Carousel/carousel-adventure-index_jlsdot_s0tlxk.jpg" class="d-block w-100 tales" alt="Kikapcsolódás">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h4>Kikapcsolódás</h4>
          <p>A természetben való tartózkodás csökkenti a stresszt és az idegességet, javítja a hangulatot és az önbizalmat, valamint növeli az energiaszintet. A természetben való kikapcsolódás lehetőséget ad arra is, hogy eltávolodjunk a város zajától és nyugodt környezetben pihenjünk, feltöltődjünk és új erőre kapjunk.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dz2vabw2w/image/upload/v1690879557/Carousel/carousel-family-index_viglt4_az0ii0.jpg" class="d-block w-100 tales" alt="Család">
        <div class="carousel-caption d-none d-md-block bg-warning p-4">
          <h4>Család</h4>
          <p>A családi kikapcsolódás lehetőséget ad arra, hogy szeretteinkkel tartalmas időt töltsünk és közös élményeket szerezzünk. A családi programok során az egész család részt vehet az aktivitásokban és játékokban, ami közelebb hozza egymáshoz a családtagokat és erősíti a családi kötelékeket.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
</header>

<section class="post-loop">
  <div class="container-sm outer">
    <div class="container-sm shadow inner">
      <h3 class="title">Hotel kutyabarátoknak</h3>
      <br>
        <p class="intro-text">A hotelünk kifejezetten azoknak szól, akik szeretnének együtt nyaralni kutyájukkal. A szálloda kényelmes és tágas szobákkal rendelkezik, amelyekben kényelmesen elférnek a kis és nagyobb méretű kutyák is. A szobákhoz tartozik egy saját terasz is, ahol kedvenceink élvezhetik a friss levegőt.

          A Kutyabarát Hotelben számos programot szervezünk kutyás családoknak. A hotel területén található egy nagy park, ahol kedvenceink szabadon futkározhatnak és játszhatnak. Emellett rendszeresen tartunk kutyás túrákat is a környéken.

          A hotel éttermében pedig olyan ételeket találhatnak, amelyeket kedvenceink is fogyaszthatnak. Emellett lehetőség van arra is, hogy saját ételeket hozzanak magukkal.

          Reméljük, hogy sikerült felkeltenünk az érdeklődését és hamarosan vendégül láthatjuk Önt és kedvencét is!</p>
    </div>
  </div>
</section>

