<p class="title-small">Havi bontásban</p>
            <div>  
                <form  [formGroup]="roomsForDiagram" (ngSubmit)="onSubmit()">
                    <div class="roomSelector">
                    <div class="mb-3 left">
                       
                        <label for="year" class="form-label">Év:</label>
                      <mat-select class="form-control" type="number" id="year"  formControlName="year" >
                      <mat-option *ngFor="let year of yearsForStat" [value]="year">
                        {{year}}
                      </mat-option>
                    </mat-select>
                </div>
                    <div class="mb-3 middle">
                      <label for="months" class="form-label">Hónap:</label>
                      <mat-select class="form-control"  id="months"  formControlName="months">
                        <mat-option *ngFor="let month of monthNumber" [value]="monthString[month-1]" >
                          {{monthString[month-1]}}
                        </mat-option>
                      </mat-select>
                    </div>
              
                    <div class="text-center right">
                      <button type="submit" class="btn" >Kiválaszt</button>
                    </div>
                </div>
                  </form>
              </div>
            <div class="image-container">
                <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions"
                [dataLabels]="chartOptions.dataLabels"
                [xaxis]="chartOptions.xaxis"
                [yaxis]="chartOptions.yaxis"
                [title]="chartOptions.title"
                ></apx-chart>
            </div>
            




